{extend name="base" /}
{block name="content"}
<!-- 中部开始 -->

<style type="text/css">
    .SpanHeight{line-height:1.5;width:190px;height:40px}
</style>

<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <xblock>
            <div style="margin-left: 20px">
                添加菜品
            </div>
        </xblock>
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>分类名称
                    </label>
                    <div  class="layui-input-inline">
                        <select class="layui-form-item" name="cat_id" id="table_id">
                            <option value ="">请选择分类</option>
                            {volist name='info' id='info'}
                            <option  value ="{$info.id}">{$info.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>选择套餐（可不选）
                    </label>
                    <div  class="layui-input-inline">
                        <select class="layui-form-item" name="package" id="package">
                            <option value ="">请选择套餐</option>
                            {volist name='list' id='list'}
                            <option  value ="{$list.id}">{$list.name}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red"></span>菜名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" required="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="img-item">
                    <label for="img_url" class="layui-form-label">
                        <span class="x-red"></span>图片
                    </label>
                    <div class="layui-input-inline">
                        <input type="file" class="img-upload" name="img_url" id="img_url" accept="image/jpeg,image/gif,image/png">
                        <input type="hidden" name="image" id="image">
                    </div>
                    <div id="dds" class="img-box" style="margin-top: 30px;"></div>
                </div>
                <div class="layui-form-item">
                    <label for="rank" class="layui-form-label">
                        <span class="x-red"></span>排序
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="rank" name="rank" required="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="price" class="layui-form-label">
                        <span class="x-red"></span>商品价格
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="price" name="price" required="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="intro" class="layui-form-label">
                        <span class="x-red"></span>介绍
                    </label>
                    <div class="layui-input-inline">
                        <textarea name="intro" id="intro" class="layui-input" style="overflow:hidden;line-height:20px;"></textarea>
                    </div>
                </div>
                <div class="layui-form-item guige-box">
                    <label class="layui-form-label">
                        <span class="x-red"></span>规格
                    </label>
                    <div class="guige-l">

                        <div class="attr-box-li" style="display: block; width: 100%; clear: both;">
                            <div class="layui-input-inline guige-line">
                                <input type="text" name="titles[]" data-key="titles" value="" placeholder="名称" required="" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline guige-line">
                                <input type="text" name="prices[]" data-key="prices" value="" placeholder="价格" required="" autocomplete="off" class="layui-input">
                            </div>
                            <div class="plus plus-cut-btn"></div>
                        </div>

                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn" id="add-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<script>
    //上传图片后预览
    $(document).ready(function () {
        $("#img_url").change(function () {
            var fil = this.files;
            console.log(fil);
            for (var i = 0; i < fil.length; i++) {
                reads(fil[i]);
            }
        });
    });
    function reads(fil){
        var reader = new FileReader();
        console.log(reader);
        reader.readAsDataURL(fil);
        reader.onload = function()
        {
            $('#image').val(reader.result);
            document.getElementById("dds").innerHTML = "<img style='width: 200px;height: 150px;' src='"+reader.result+"'>";
        };
    }
    $("#add-btn").click(function () {
        var data = [];
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                if(!data.field.cat_id){
                    layer.msg('请选择分类',{icon:7,time:1000});
                    return false;
                }
                if(!data.field.image){
                    layer.msg('请选择图片',{icon:7,time:1000});
                    return false;
                }
                $.ajax({
                    url:"{:url('Goods/goods_add')}",
                    type:"post",
                    data:data.field,
                    success:function (res) {
                        console.log(res);
                        if(res === true){
                            layer.msg('添加成功',{icon:1,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('Goods/goods_index')}"
                            },1500)
                        }else {
                            layer.msg('添加失败',{icon:2,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('Goods/goods_index')}"
                            },1500)
                        }
                    }
                })
                return false;
            });
        });
    });
    var i = 1;
    $(".content").on("click", ".plus", function () {
        var titles_val = $(this).parent().find("[data-key='titles']").val();
        var prices_val = $(this).parent().find("[data-key='prices']").val();
        var tpl = "<div class=\"attr-box-li\" style=\"display: block; width: 100%; clear: both;\">\n" +
            "                            <div class=\"layui-input-inline guige-line\">\n" +
            "                                <input type=\"text\" name=\"titles["+i+"]\" data-key=\"titles\" value=\"\" placeholder=\"名称\" required=\"\" autocomplete=\"off\" class=\"layui-input\">\n" +
            "                            </div>\n" +
            "                            <div class=\"layui-input-inline guige-line\">\n" +
            "                                <input type=\"text\" name=\"prices["+i+"]\" data-key=\"prices\" value=\"\" placeholder=\"价格\" required=\"\" autocomplete=\"off\" class=\"layui-input\">\n" +
            "                            </div>\n" +
            "                            <div class=\"plus plus-cut-btn\"></div>\n" +
            "                        </div>";

        if (titles_val.trim() && prices_val.trim()) {
            console.log($(this))
            $(this).replaceWith("<div class=\"cut plus-cut-btn\"></div>");
            $(".guige-l").append(tpl);
            i++
        } else {
            layer.msg("请输入规格", {icon: 5, time: 1000});
        }
    })

    $(".content").on("click", ".cut", function () {

        var titles_val = $(this).parent().find("[data-key='titles']").val();
        var prices_val = $(this).parent().find("[data-key='prices']").val();

        if (titles_val.trim() && prices_val.trim()) {
            $(this).parent().remove();
        } else {
            return;
        }
    })

</script>
{/block}