{extend name="base" /}
{block name="content"}
<!-- 中部开始 -->

<style type="text/css">
    .SpanHeight{line-height:1.5;width:190px;height:40px}
</style>

<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <xblock>
            <div style="margin-left: 20px">
                修改优惠券
            </div>
        </xblock>
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>优惠类型
                    </label>
                    <div  class="layui-input-inline">
                        <select class="layui-form-item" name="type">
                            <!--<option value ="">请选择优惠类型</option>-->
                            <option value ="1">抵扣卷</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red"></span>名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" value="{$info.title}" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="dis_price" class="layui-form-label">
                        <span class="x-red"></span>优惠金额
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="dis_price" name="dis_price" value="{$info.dis_price}" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="num" class="layui-form-label">
                        <span class="x-red"></span>可领数量
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="num" name="num" value="{$info.num}" required="" lay-verify="number"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="start_time" class="layui-form-label">
                        <span class="x-red"></span>开始日期
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="start_time" name="start_time" value="{$info.start_time}" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="end_time" class="layui-form-label">
                        <span class="x-red"></span>结束日期
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="end_time" name="end_time" value="{$info.end_time}" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="conditon" class="layui-form-label">
                        <span class="x-red"></span>使用条件
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="conditon" name="conditon" value="{$info.conditon}" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <input type="hidden"  name="id" value="{$info.id}" >
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn" id="add-btn" lay-filter="add" lay-submit="">
                        修改
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<script>
    $("#add-btn").click(function () {
        var data = [];
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                $.ajax({
                    url:"{:url('Coupon/is_update')}",
                    type:"post",
                    data:data.field,
                    success:function (res) {
                        console.log(res);
                        if(res === true){
                            layer.msg('修改成功',{icon:1,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('Coupon/index')}"
                            },1500)
                        }else {
                            layer.msg('修改失败',{icon:2,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('Coupon/index')}"
                            },1500)
                        }
                    }
                })
                return false;
            });
        });
    });


</script>
{/block}