{extend name="base" /}
{block name="content"}
<!-- 中部开始 -->

<style type="text/css">
    .SpanHeight{line-height:1.5;width:190px;height:40px}
</style>

<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <xblock>
            <div style="margin-left: 20px">
                添加商店
            </div>
        </xblock>
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red"></span>商店名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" required="" lay-verify=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="wechat" class="layui-form-label">
                        <span class="x-red"></span>微信
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="wechat" name="wechat" required="" lay-verify="number"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="mobile" class="layui-form-label">
                        <span class="x-red"></span>联系手机
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="mobile" name="mobile" required="" lay-verify="number"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn" id="add-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<script>
    $("#add-btn").click(function () {
        var data = [];
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                $.ajax({
                    url:"{:url('shop/add')}",
                    type:"post",
                    data:data.field,
                    success:function (res) {
                        console.log(res);
                        res= JSON.parse(res)
                        if(res.code == 1){
                            layer.msg('添加成功',{icon:1,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('shop/index')}"
                            },1500)
                        }else {
                            layer.msg('添加失败',{icon:2,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('shop/index')}"
                            },1500)
                        }
                    }
                })
                return false;
            });
        });
    });


</script>
{/block}