{extend name="base" /}
{block name="content"}
<!-- 中部开始 -->

<style type="text/css">
    .SpanHeight{line-height:1.5;width:190px;height:40px}
</style>

<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <xblock>
            <div style="margin-left: 20px">
                添加商店
            </div>
        </xblock>
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label for="title" class="layui-form-label">
                        <span class="x-red"></span>商店名称
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="title" name="title" required="" lay-verify=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="img-item">
                    <label for="img_url" class="layui-form-label">
                        <span class="x-red"></span>logo
                    </label>
                    <div class="layui-input-inline">
                        <input type="file" class="img-upload" name="img_url" id="img_url" accept="image/jpeg,image/gif,image/png">
                        <input type="hidden" name="logo" id="image">
                    </div>
                    <div id="dds" class="img-box" style="margin-top: 30px;"></div>
                </div>
                <div class="layui-form-item">
                    <label for="wechat" class="layui-form-label">
                        <span class="x-red"></span>微信
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="wechat" name="wechat" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="mobile" class="layui-form-label">
                        <span class="x-red"></span>联系手机
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="mobile" name="mobile" required="" lay-verify="number"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="mode_id" class="layui-form-label">
                        <span class="x-red"></span>返利模式
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="mode_id" name="mode_id" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>是否新客立减
                    </label>
                    <div class="layui-input-inline">
                        <input type="radio" name="is_first" value="1" checked="" title="是">
                        <div class="layui-unselect layui-form-radio layui-form-radioed">
                            <i class="layui-anim layui-icon"></i><span>是</span>
                        </div>
                        <input type="radio" name="is_first" value="0" title="否">
                        <div class="layui-unselect layui-form-radio"><
                            i class="layui-anim layui-icon"></i><span>否</span>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn" id="add-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<script>

    //上传图片后预览
    $(document).ready(function () {
        $("#img_url").change(function () {
            var fil = this.files;
            console.log(fil);
            for (var i = 0; i < fil.length; i++) {
                reads(fil[i]);
            }
        });
    });
    function reads(fil){
        var reader = new FileReader();
        console.log(reader);
        reader.readAsDataURL(fil);
        reader.onload = function()
        {
            $('#image').val(reader.result);
            document.getElementById("dds").innerHTML = "<img style='width: 200px;height: 150px;' src='"+reader.result+"'>";
        };
    }
    $("#add-btn").click(function () {
        var data = [];
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                if(!data.field.image){
                    layer.msg('请选择图片',{icon:7,time:1000});
                    return false;
                }
                $.ajax({
                    url:"{:url('shop/add')}",
                    type:"post",
                    data:data.field,
                    success:function (res) {
                        console.log(res);
                        if(res === true){
                            layer.msg('添加成功',{icon:1,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('shop/index')}"
                            },1500)
                        }else {
                            layer.msg('添加失败',{icon:2,time:1000});
                            setTimeout(function () {
                                location.href = "{:url('shop/index')}"
                            },1500)
                        }
                    }
                })
                return false;
            });
        });
    });


</script>
{/block}