{extend name="base" /}
{block name="content"}
<!-- 中部开始 -->

<style type="text/css">
    .SpanHeight{line-height:1.5;width:190px;height:40px}
</style>

<div class="wrapper">
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <xblock>
            <div style="margin-left: 20px">
                修改轮播图
            </div>
        </xblock>
        <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
            <form class="layui-form" action="" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        <span class="x-red"></span>店铺
                    </label>
                    <div  class="layui-input-inline">
                        <select class="layui-form-item" name="shop_id" id="shop_id">
                            <option value ="">请选择店铺</option>
                            {volist name='info' id='list'}
                            <option  value ="{$list.id}" {if condition="$vo.shop_id === $list.id"}selected{/if}>{$list.title}</option>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="img-item">
                    <label for="img_url" class="layui-form-label">
                        <span class="x-red"></span>图片
                    </label>
                    <div class="layui-input-inline" id="tupian" style="display: none">
                        <input type="file" class="img-upload" name="img_url" id="img_url" accept="image/jpeg,image/gif,image/png">
                        <input type="hidden" name="image" id="image">
                    </div>
                    <div id="dds" class="img-box" style="margin-top: 30px;"></div>
                </div>
                <div class="layui-form-item">
                    <label for="url" class="layui-form-label">
                        <span class="x-red"></span>跳转链接
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="url" name="url" value="{$vo.url}" required="" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <input type="hidden" name="id" value="{$vo.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">
                    </label>
                    <button class="layui-btn" id="add-btn" lay-filter="add" lay-submit="">
                        修改
                    </button>
                </div>
            </form>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<script>
    function img_url(){
        var image ="{$vo.image}";
        console.log(image);
        document.getElementById("dds").innerHTML = "<a href='#'><img style='width: 200px;height: 150px;' src='"+image+"'></a>";
    }
    img_url();

    $("#dds").click(function(){
        $("#tupian").css('display','block');
    });

    //上传图片后预览
    $(document).ready(function () {
        $("#img_url").change(function () {
            var fil = this.files;
            for (var i = 0; i < fil.length; i++) {
                reads(fil[i]);
            }
        });
    });
    function reads(fil){
        var reader = new FileReader();
        reader.readAsDataURL(fil);
        reader.onload = function() {
            $('#image').val(reader.result);
            $("#dds").html("<img style='width: 200px;height: 150px;' src='"+reader.result+"'>");
        };
    }
    var urls = '';
    var cat_id = {$cat_id};
    if(cat_id === 1){
        urls = "{:url('Banner/index',['cat_id'=>1])}";
    }else if(cat_id === 2){
        urls = "{:url('Banner/index',['cat_id'=>2])}";
    } else if(cat_id === 3){
        urls = "{:url('Banner/index',['cat_id'=>3])}";
    }
    $("#add-btn").click(function () {
        var data = [];
        layui.use('form', function () {
            var form = layui.form();
            //监听提交
            form.on('submit(add)', function (data) {
                console.log(data.field);
                $.ajax({
                    url:"{:url('Banner/is_update')}",
                    type:"post",
                    data:data.field,
                    success:function (res) {
                        console.log(urls)
                        console.log(res);
                        if(res === true){
                            layer.msg('添加成功',{icon:1,time:1000});
                            setTimeout(function () {
                                location.href = urls
                            },1500)
                        }else {
                            layer.msg('添加失败',{icon:2,time:1000});
                            setTimeout(function () {
                                location.href = urls
                            },1500)
                        }
                    }
                })
                return false;
            });
        });
    });
    //    $(".wrapper").on("click",".layui-this",function () {
    //        alert(111)
    //    })
</script>
{/block}