{extend name="base" /}
{block name="content"}
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="content">
        <!-- 右侧内容框架，更改从这里开始 -->
        <blockquote class="layui-elem-quote">
            注意：x-admin 1.1每个页面都可以独立设置一个背景主题，如果每个都设置会比较消耗本地的存储，如果想全部恢复，请重置。
        </blockquote>
        <blockquote class="layui-elem-quote">
            欢迎使用x-admin 后台模版！<span class="f-14">v1.0</span>官方交流群： 519492808
        </blockquote>
        <fieldset class="layui-elem-field layui-field-title site-title">
            <legend><a name="default">信息统计</a></legend>
        </fieldset>
        <table class="layui-table">
            <thead>
            <tr>
                <th>统计</th>
                <th>总订单数</th>
                <th>总消费</th>
                <th>净收入</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>总数</td>
                <td>{$order.count}</td>
                <td>{$order.total_price}</td>
                <td>{$order.shop_price}</td>
            </tr>
            </tbody>
        </table>
        <div style="height: 50px; color: greenyellow;">

        </div>
        <table class="layui-table">
            <thead>
            <tr>
                <th colspan="2" scope="col">服务器信息</th>
            </tr>
            </thead>
            <tbody>
            {volist name="info" id="vo"}
            <tr>
                <td class="text">{$vo.key}：</td>
                <td class="input">{$vo.value}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <!-- 右侧内容框架，更改从这里结束 -->
    </div>
</div>
<!-- 右侧主体结束 -->
{/block}
{block name="footer"}
{/block}
{block name="background"}
{/block}
